<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <link rel="stylesheet" href="css/style.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="images/frontImg.png" alt="">
        <div class="text">
          <!-- <span class="text-1">Get access to your Orders,<br>Wishlist and Recommendations</span> -->
          <!-- <span class="text-2">Let's get connected</span> -->
        </div>
      </div>
      <div class="back">
        <!-- <img class="backImg" src="images/backImg.jpg" alt=""> -->
        <div class="text">
          <span class="text-1">Complete miles of journey <br> with one step</span>
          <span class="text-2">Let's get started</span>
        </div>
      </div>
    </div>
    <div class="forms">
        <div class="form-content">
          <div class="login-form">
            <div class="title">Login</div>
          <form action="#">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="email" placeholder="Enter your email" name="email" id="loginEmail" onkeyup="validateLoginEmail()">
              </div>
              <span id="loginEmail_error"></span>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Enter your password" name="password" id="loginPassword" onkeyup="validateLoginPassword()">
              </div>
              <span id="loginPassword_error"></span>
              <div class="text"><a href="#">Forgot password?</a></div>
              <div class="button input-box">
                <input type="submit" value="Sumbit" onclick="return validateLoginSubmit()">
              </div>
              <span id="loginSubmit_error"></span>
              <div class="text sign-up-text">Don't have an account? <label for="flip">Sigup now</label></div>
            </div>
        </form>
      </div>
        <div class="signup-form">
          <div class="title">Signup</div>
        <form action="#">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="Enter your name" id="validate_name" onkeyup="validateName()">
              </div>
              <span id="name_error"></span>
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Enter your email" id="validate_email" onkeyup="validateEmail()">
              </div>
              <span id="email_error"></span>
              <div class="input-box">
                <i class="fas fa-phone"></i>
                <input type="number" placeholder="Enter your Mobile number" id="validate_number" onkeyup="validateNumber()">
              </div>
              <span id="number_error"></span>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Enter your password" id="validate_password" onkeyup="validatePassword()">
              </div>
              <span id="password_error"></span>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Confirm password" id="validate_confirm_p" onkeyup="validateConfirmPassword()">
              </div>
              <span id="confirmP_error"></span>
              <div class="button input-box">
                <input type="submit" value="Sumbit" id="validate_submit" onclick="return validateSubmit()">
              </div>
              <span id="submit_error"></span>
              <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
            </div>
      </form>
    </div>
    </div>
    </div>
  </div>

  <script src="/validation.js"></script>

</body>
</html>
